.sprite {background-image: url('Images/sprites.png'); background-repeat: no-repeat; display: block;}
.min-001 {width: 32px; height: 32px; background-position: -5px -5px;}
.min-002 {width: 32px;height: 32px;background-position: -47px -5px;}
.min-003 {width: 32px;height: 32px;background-position: -89px -5px;}
.min-004 {width: 32px;height: 32px;background-position: -131px -5px;}
.min-005 {width: 32px;height: 32px;background-position: -173px -5px;}
.min-006 {width: 32px;height: 32px;background-position: -215px -5px;}
.min-007 {width: 32px;height: 32px;background-position: -257px -5px;}
.min-008 {width: 32px;height: 32px;background-position: -299px -5px;}
.min-009 {width: 32px;height: 32px;background-position: -341px -5px;}
.min-010 {width: 32px;height: 32px;background-position: -383px -5px;}
.min-011 {width: 32px;height: 32px;background-position: -425px -5px;}
.min-012 {width: 32px;height: 32px;background-position: -467px -5px;}
.min-013 {width: 32px;height: 32px;background-position: -509px -5px;}
.min-014 {width: 32px;height: 32px;background-position: -551px -5px;}
.min-015 {width: 32px;height: 32px;background-position: -593px -5px;}
.min-016 {width: 32px;height: 32px;background-position: -635px -5px;}
.min-017 {width: 32px;height: 32px;background-position: -677px -5px;}
.min-018 {width: 32px;height: 32px;background-position: -719px -5px;}
.min-019 {width: 32px;height: 32px;background-position: -761px -5px;}
.min-020 {width: 32px;height: 32px;background-position: -803px -5px;}
.min-021 {width: 32px;height: 32px;background-position: -845px -5px;}
.min-022 {width: 32px;height: 32px;background-position: -887px -5px;}
.min-023 {width: 32px;height: 32px;background-position: -929px -5px;}
.min-024 {width: 32px;height: 32px;background-position: -971px -5px;}
.min-025 {width: 32px;height: 32px;background-position: -1013px -5px;}
.min-026 {width: 32px;height: 32px;background-position: -1055px -5px;}
.min-027 {width: 32px;height: 32px;background-position: -5px -47px;}
.min-028 {width: 32px;height: 32px;background-position: -47px -47px;}
.min-029 {width: 32px;height: 32px;background-position: -89px -47px;}
.min-030 {width: 32px;height: 32px;background-position: -131px -47px;}
.min-031 {width: 32px;height: 32px;background-position: -173px -47px;}
.min-032 {width: 32px;height: 32px;background-position: -215px -47px;}
.min-033 {width: 32px;height: 32px;background-position: -257px -47px;}
.min-034 {width: 32px;height: 32px;background-position: -299px -47px;}
.min-035 {width: 32px;height: 32px;background-position: -341px -47px;}
.min-036 {width: 32px;height: 32px;background-position: -383px -47px;}
.min-037 {width: 32px;height: 32px;background-position: -425px -47px;}
.min-038 {width: 32px;height: 32px;background-position: -467px -47px;}
.min-039 {width: 32px;height: 32px;background-position: -509px -47px;}
.min-040 {width: 32px;height: 32px;background-position: -551px -47px;}
.min-041 {width: 32px;height: 32px;background-position: -593px -47px;}
.min-042 {width: 32px;height: 32px;background-position: -635px -47px;}
.min-043 {width: 32px;height: 32px;background-position: -677px -47px;}
.min-044 {width: 32px;height: 32px;background-position: -719px -47px;}
.min-045 {width: 32px;height: 32px;background-position: -761px -47px;}
.min-046 {width: 32px;height: 32px;background-position: -803px -47px;}
.min-047 {width: 32px;height: 32px;background-position: -845px -47px;}
.min-048 {width: 32px;height: 32px;background-position: -887px -47px;}
.min-049 {width: 32px;height: 32px;background-position: -929px -47px;}
.min-050 {width: 32px;height: 32px;background-position: -971px -47px;}
.min-051 {width: 32px;height: 32px;background-position: -1013px -47px;}
.min-052 {width: 32px;height: 32px;background-position: -1055px -47px;}
.min-053 {width: 32px;height: 32px;background-position: -5px -89px;}
.min-054 {width: 32px;height: 32px;background-position: -47px -89px;}
.min-055 {width: 32px;height: 32px;background-position: -89px -89px;}
.min-056 {width: 32px;height: 32px;background-position: -131px -89px;}
.min-057 {width: 32px;height: 32px;background-position: -173px -89px;}
.min-058 {width: 32px;height: 32px;background-position: -215px -89px;}
.min-059 {width: 32px;height: 32px;background-position: -257px -89px;}
.min-060 {width: 32px;height: 32px;background-position: -299px -89px;}
.min-061 {width: 32px;height: 32px;background-position: -341px -89px;}
.min-062 {width: 32px;height: 32px;background-position: -383px -89px;}
.min-063 {width: 32px;height: 32px;background-position: -425px -89px;}
.min-064 {width: 32px;height: 32px;background-position: -467px -89px;}
.min-065 {width: 32px;height: 32px;background-position: -509px -89px;}
.min-066 {width: 32px;height: 32px;background-position: -551px -89px;}
.min-067 {width: 32px;height: 32px;background-position: -593px -89px;}
.min-068 {width: 32px;height: 32px;background-position: -635px -89px;}
.min-069 {width: 32px;height: 32px;background-position: -677px -89px;}
.min-070 {width: 32px;height: 32px;background-position: -719px -89px;}
.min-071 {width: 32px;height: 32px;background-position: -761px -89px;}
.min-072 {width: 32px;height: 32px;background-position: -803px -89px;}
.min-073 {width: 32px;height: 32px;background-position: -845px -89px;}
.min-074 {width: 32px;height: 32px;background-position: -887px -89px;}
.min-075 {width: 32px;height: 32px;background-position: -929px -89px;}
.min-076 {width: 32px;height: 32px;background-position: -971px -89px;}
.min-077 {width: 32px;height: 32px;background-position: -1013px -89px;}
.min-078 {width: 32px;height: 32px;background-position: -1055px -89px;}
.min-079 {width: 32px;height: 32px;background-position: -5px -131px;}
.min-080 {width: 32px;height: 32px;background-position: -47px -131px;}
.min-081 {width: 32px;height: 32px;background-position: -89px -131px;}
.min-082 {width: 32px;height: 32px;background-position: -131px -131px;}
.min-083 {width: 32px;height: 32px;background-position: -173px -131px;}
.min-084 {width: 32px;height: 32px;background-position: -215px -131px;}
.min-085 {width: 32px;height: 32px;background-position: -257px -131px;}
.min-086 {width: 32px;height: 32px;background-position: -299px -131px;}
.min-087 {width: 32px;height: 32px;background-position: -341px -131px;}
.min-088 {width: 32px;height: 32px;background-position: -383px -131px;}
.min-089 {width: 32px;height: 32px;background-position: -425px -131px;}
.min-090 {width: 32px;height: 32px;background-position: -467px -131px;}
.min-091 {width: 32px;height: 32px;background-position: -509px -131px;}
.min-092 {width: 32px;height: 32px;background-position: -551px -131px;}
.min-093 {width: 32px;height: 32px;background-position: -593px -131px;}
.min-094 {width: 32px;height: 32px;background-position: -635px -131px;}
.min-095 {width: 32px;height: 32px;background-position: -677px -131px;}
.min-096 {width: 32px;height: 32px;background-position: -719px -131px;}
.min-097 {width: 32px;height: 32px;background-position: -761px -131px;}
.min-098 {width: 32px;height: 32px;background-position: -803px -131px;}
.min-099 {width: 32px;height: 32px;background-position: -845px -131px;}
.min-100 {width: 32px;height: 32px;background-position: -887px -131px;}
.min-101 {width: 32px;height: 32px;background-position: -929px -131px;}
.min-102 {width: 32px;height: 32px;background-position: -971px -131px;}
.min-103 {width: 32px;height: 32px;background-position: -1013px -131px;}
.min-104 {width: 32px;height: 32px;background-position: -1055px -131px;}
.min-105 {width: 32px;height: 32px;background-position: -5px -173px;}
.min-106 {width: 32px;height: 32px;background-position: -47px -173px;}
.min-107 {width: 32px;height: 32px;background-position: -89px -173px;}
.min-108 {width: 32px;height: 32px;background-position: -131px -173px;}
.min-109 {width: 32px;height: 32px;background-position: -173px -173px;}
.min-110 {width: 32px;height: 32px;background-position: -215px -173px;}
.min-111 {width: 32px;height: 32px;background-position: -257px -173px;}
.min-112 {width: 32px;height: 32px;background-position: -299px -173px;}
.min-113 {width: 32px;height: 32px;background-position: -341px -173px;}
.min-114 {width: 32px;height: 32px;background-position: -383px -173px;}
.min-115 {width: 32px;height: 32px;background-position: -425px -173px;}
.min-116 {width: 32px;height: 32px;background-position: -467px -173px;}
.min-117 {width: 32px;height: 32px;background-position: -509px -173px;}
.min-118 {width: 32px;height: 32px;background-position: -551px -173px;}
.min-119 {width: 32px;height: 32px;background-position: -593px -173px;}
.min-120 {width: 32px;height: 32px;background-position: -635px -173px;}
.min-121 {width: 32px;height: 32px;background-position: -677px -173px;}
.min-122 {width: 32px;height: 32px;background-position: -719px -173px;}
.min-123 {width: 32px;height: 32px;background-position: -761px -173px;}
.min-124 {width: 32px;height: 32px;background-position: -803px -173px;}
.min-125 {width: 32px;height: 32px;background-position: -845px -173px;}
.min-126 {width: 32px;height: 32px;background-position: -887px -173px;}
.min-127 {width: 32px;height: 32px;background-position: -929px -173px;}
.min-128 {width: 32px;height: 32px;background-position: -971px -173px;}
.min-129 {width: 32px;height: 32px;background-position: -1013px -173px;}
.min-130 {width: 32px;height: 32px;background-position: -1055px -173px;}
.min-131 {width: 32px;height: 32px;background-position: -5px -215px;}
.min-132 {width: 32px;height: 32px;background-position: -47px -215px;}
.min-133 {width: 32px;height: 32px;background-position: -89px -215px;}
.min-134 {width: 32px;height: 32px;background-position: -131px -215px;}
.min-135 {width: 32px;height: 32px;background-position: -173px -215px;}
.min-136 {width: 32px;height: 32px;background-position: -215px -215px;}
.min-137 {width: 32px;height: 32px;background-position: -257px -215px;}
.min-138 {width: 32px;height: 32px;background-position: -299px -215px;}
.min-139 {width: 32px;height: 32px;background-position: -341px -215px;}
.min-140 {width: 32px;height: 32px;background-position: -383px -215px;}
.min-141 {width: 32px;height: 32px;background-position: -425px -215px;}
.min-142 {width: 32px;height: 32px;background-position: -467px -215px;}
.min-143 {width: 32px;height: 32px;background-position: -509px -215px;}
.min-144 {width: 32px;height: 32px;background-position: -551px -215px;}
.min-145 {width: 32px;height: 32px;background-position: -593px -215px;}
.min-146 {width: 32px;height: 32px;background-position: -635px -215px;}
.min-147 {width: 32px;height: 32px;background-position: -677px -215px;}
.min-148 {width: 32px;height: 32px;background-position: -719px -215px;}
.min-149 {width: 32px;height: 32px;background-position: -761px -215px;}
.min-150 {width: 32px;height: 32px;background-position: -803px -215px;}
.min-151 {width: 32px;height: 32px;background-position: -845px -215px;}
.min-152 {width: 32px;height: 32px;background-position: -887px -215px;}
.min-153 {width: 32px;height: 32px;background-position: -929px -215px;}
.min-154 {width: 32px;height: 32px;background-position: -971px -215px;}
.min-155 {width: 32px;height: 32px;background-position: -1013px -215px;}
.min-156 {width: 32px;height: 32px;background-position: -1055px -215px;}
.min-157 {width: 32px;height: 32px;background-position: -5px -257px;}
.min-158 {width: 32px;height: 32px;background-position: -47px -257px;}
.min-159 {width: 32px;height: 32px;background-position: -89px -257px;}
.min-160 {width: 32px;height: 32px;background-position: -131px -257px;}
.min-161 {width: 32px;height: 32px;background-position: -173px -257px;}
.min-162 {width: 32px;height: 32px;background-position: -215px -257px;}
.min-163 {width: 32px;height: 32px;background-position: -257px -257px;}
.min-164 {width: 32px;height: 32px;background-position: -299px -257px;}
.min-165 {width: 32px;height: 32px;background-position: -341px -257px;}
.min-166 {width: 32px;height: 32px;background-position: -383px -257px;}
.min-167 {width: 32px;height: 32px;background-position: -425px -257px;}
.min-168 {width: 32px;height: 32px;background-position: -467px -257px;}
.min-169 {width: 32px;height: 32px;background-position: -509px -257px;}
.min-170 {width: 32px;height: 32px;background-position: -551px -257px;}
.min-171 {width: 32px;height: 32px;background-position: -593px -257px;}
.min-172 {width: 32px;height: 32px;background-position: -635px -257px;}
.min-173 {width: 32px;height: 32px;background-position: -677px -257px;}
.min-174 {width: 32px;height: 32px;background-position: -719px -257px;}
.min-175 {width: 32px;height: 32px;background-position: -761px -257px;}
.min-176 {width: 32px;height: 32px;background-position: -803px -257px;}
.min-177 {width: 32px;height: 32px;background-position: -845px -257px;}
.min-178 {width: 32px;height: 32px;background-position: -887px -257px;}
.min-179 {width: 32px;height: 32px;background-position: -929px -257px;}
.min-180 {width: 32px;height: 32px;background-position: -971px -257px;}
.min-181 {width: 32px;height: 32px;background-position: -1013px -257px;}
.min-182 {width: 32px;height: 32px;background-position: -1055px -257px;}
.min-183 {width: 32px;height: 32px;background-position: -5px -299px;}
.min-184 {width: 32px;height: 32px;background-position: -47px -299px;}
.min-185 {width: 32px;height: 32px;background-position: -89px -299px;}
.min-186 {width: 32px;height: 32px;background-position: -131px -299px;}
.min-187 {width: 32px;height: 32px;background-position: -173px -299px;}
.min-188 {width: 32px;height: 32px;background-position: -215px -299px;}
.min-189 {width: 32px;height: 32px;background-position: -257px -299px;}
.min-190 {width: 32px;height: 32px;background-position: -299px -299px;}
.min-191 {width: 32px;height: 32px;background-position: -341px -299px;}
.min-192 {width: 32px;height: 32px;background-position: -383px -299px;}
.min-193 {width: 32px;height: 32px;background-position: -425px -299px;}
.min-194 {width: 32px;height: 32px;background-position: -467px -299px;}
.min-195 {width: 32px;height: 32px;background-position: -509px -299px;}
.min-196 {width: 32px;height: 32px;background-position: -551px -299px;}
.min-197 {width: 32px;height: 32px;background-position: -593px -299px;}
.min-198 {width: 32px;height: 32px;background-position: -635px -299px;}
.min-199 {width: 32px;height: 32px;background-position: -677px -299px;}
.min-200 {width: 32px;height: 32px;background-position: -719px -299px;}
.min-201 {width: 32px;height: 32px;background-position: -761px -299px;}
.min-202 {width: 32px;height: 32px;background-position: -803px -299px;}
.min-203 {width: 32px;height: 32px;background-position: -845px -299px;}
.min-204 {width: 32px;height: 32px;background-position: -887px -299px;}
.min-205 {width: 32px;height: 32px;background-position: -929px -299px;}
.min-206 {width: 32px;height: 32px;background-position: -971px -299px;}
.min-207 {width: 32px;height: 32px;background-position: -1013px -299px;}
.min-208 {width: 36px;height: 32px;background-position: -1055px -299px;}
.min-209 {width: 32px;height: 32px;background-position: -5px -341px;}
.min-210 {width: 32px;height: 32px;background-position: -47px -341px;}
.min-211 {width: 32px;height: 32px;background-position: -89px -341px;}
.min-212 {width: 32px;height: 32px;background-position: -131px -341px;}
.min-213 {width: 32px;height: 32px;background-position: -173px -341px;}
.min-214 {width: 32px;height: 32px;background-position: -215px -341px;}
.min-215 {width: 32px;height: 32px;background-position: -257px -341px;}
.min-216 {width: 32px;height: 32px;background-position: -299px -341px;}
.min-217 {width: 32px;height: 32px;background-position: -341px -341px;}
.min-218 {width: 32px;height: 32px;background-position: -383px -341px;}
.min-219 {width: 32px;height: 32px;background-position: -425px -341px;}
.min-220 {width: 32px;height: 32px;background-position: -467px -341px;}
.min-221 {width: 32px;height: 32px;background-position: -509px -341px;}
.min-222 {width: 32px;height: 32px;background-position: -551px -341px;}
.min-223 {width: 32px;height: 32px;background-position: -593px -341px;}
.min-224 {width: 32px;height: 32px;background-position: -635px -341px;}
.min-225 {width: 32px;height: 32px;background-position: -677px -341px;}
.min-226 {width: 32px;height: 32px;background-position: -719px -341px;}
.min-227 {width: 32px;height: 32px;background-position: -761px -341px;}
.min-228 {width: 32px;height: 32px;background-position: -803px -341px;}
.min-229 {width: 32px;height: 32px;background-position: -845px -341px;}
.min-230 {width: 32px;height: 32px;background-position: -887px -341px;}
.min-231 {width: 32px;height: 32px;background-position: -929px -341px;}
.min-232 {width: 32px;height: 32px;background-position: -971px -341px;}
.min-233 {width: 32px;height: 32px;background-position: -1013px -341px;}
.min-234 {width: 32px;height: 32px;background-position: -1055px -341px;}
.min-235 {width: 32px;height: 32px;background-position: -5px -383px;}
.min-236 {width: 32px;height: 32px;background-position: -47px -383px;}
.min-237 {width: 32px;height: 32px;background-position: -89px -383px;}
.min-238 {width: 32px;height: 32px;background-position: -131px -383px;}
.min-239 {width: 32px;height: 32px;background-position: -173px -383px;}
.min-240 {width: 32px;height: 32px;background-position: -215px -383px;}
.min-241 {width: 32px;height: 32px;background-position: -257px -383px;}
.min-242 {width: 32px;height: 32px;background-position: -299px -383px;}
.min-243 {width: 32px;height: 32px;background-position: -341px -383px;}
.min-244 {width: 32px;height: 32px;background-position: -383px -383px;}
.min-245 {width: 32px;height: 32px;background-position: -425px -383px;}
.min-246 {width: 32px;height: 32px;background-position: -467px -383px;}
.min-247 {width: 32px;height: 32px;background-position: -509px -383px;}
.min-248 {width: 32px;height: 32px;background-position: -551px -383px;}
.min-249 {width: 33px;height: 32px;background-position: -593px -383px;}
.min-250 {width: 32px;height: 32px;background-position: -636px -383px;}
.min-251 {width: 32px;height: 32px;background-position: -678px -383px;}
.min-252 {width: 32px;height: 32px;background-position: -720px -383px;}
.min-253 {width: 32px;height: 32px;background-position: -762px -383px;}
.min-254 {width: 32px;height: 32px;background-position: -804px -383px;}
.min-255 {width: 32px;height: 32px;background-position: -846px -383px;}
.min-256 {width: 32px;height: 32px;background-position: -888px -383px;}
.min-257 {width: 32px;height: 32px;background-position: -930px -383px;}
.min-258 {width: 32px;height: 32px;background-position: -972px -383px;}
.min-259 {width: 32px;height: 32px;background-position: -1014px -383px;}
.min-260 {width: 32px;height: 32px;background-position: -1056px -383px;}
.min-261 {width: 32px;height: 32px;background-position: -5px -425px;}
.min-262 {width: 32px;height: 32px;background-position: -47px -425px;}
.min-263 {width: 32px;height: 32px;background-position: -89px -425px;}
.min-264 {width: 32px;height: 32px;background-position: -131px -425px;}
.min-265 {width: 32px;height: 32px;background-position: -173px -425px;}
.min-266 {width: 32px;height: 32px;background-position: -215px -425px;}
.min-267 {width: 32px;height: 32px;background-position: -257px -425px;}
.min-268 {width: 32px;height: 32px;background-position: -299px -425px;}
.min-269 {width: 32px;height: 32px;background-position: -341px -425px;}
.min-270 {width: 32px;height: 32px;background-position: -383px -425px;}
.min-271 {width: 32px;height: 32px;background-position: -425px -425px;}
.min-272 {width: 32px;height: 32px;background-position: -467px -425px;}
.min-273 {width: 32px;height: 32px;background-position: -509px -425px;}
.min-274 {width: 32px;height: 32px;background-position: -551px -425px;}
.min-275 {width: 32px;height: 32px;background-position: -593px -425px;}
.min-276 {width: 32px;height: 32px;background-position: -635px -425px;}
.min-277 {width: 32px;height: 32px;background-position: -677px -425px;}
.min-278 {width: 32px;height: 32px;background-position: -719px -425px;}
.min-279 {width: 32px;height: 32px;background-position: -761px -425px;}
.min-280 {width: 32px;height: 32px;background-position: -803px -425px;}
.min-281 {width: 32px;height: 32px;background-position: -845px -425px;}
.min-282 {width: 32px;height: 32px;background-position: -887px -425px;}
.min-283 {width: 32px;height: 32px;background-position: -929px -425px;}
.min-284 {width: 32px;height: 32px;background-position: -971px -425px;}
.min-285 {width: 32px;height: 32px;background-position: -1013px -425px;}
.min-286 {width: 32px;height: 32px;background-position: -1055px -425px;}
.min-287 {width: 32px;height: 32px;background-position: -5px -467px;}
.min-288 {width: 32px;height: 32px;background-position: -47px -467px;}
.min-289 {width: 32px;height: 32px;background-position: -89px -467px;}
.min-290 {width: 32px;height: 32px;background-position: -131px -467px;}
.min-291 {width: 32px;height: 32px;background-position: -173px -467px;}
.min-292 {width: 32px;height: 32px;background-position: -215px -467px;}
.min-293 {width: 32px;height: 32px;background-position: -257px -467px;}
.min-294 {width: 32px;height: 32px;background-position: -299px -467px;}
.min-295 {width: 32px;height: 32px;background-position: -341px -467px;}
.min-296 {width: 32px;height: 32px;background-position: -383px -467px;}
.min-297 {width: 32px;height: 32px;background-position: -425px -467px;}
.min-298 {width: 32px;height: 32px;background-position: -467px -467px;}
.min-299 {width: 32px;height: 32px;background-position: -509px -467px;}
.min-300 {width: 32px;height: 32px;background-position: -551px -467px;}
.min-301 {width: 32px;height: 32px;background-position: -593px -467px;}
.min-302 {width: 32px;height: 32px;background-position: -635px -467px;}
.min-303 {width: 32px;height: 32px;background-position: -677px -467px;}
.min-304 {width: 32px;height: 32px;background-position: -719px -467px;}
.min-305 {width: 32px;height: 32px;background-position: -761px -467px;}
.min-306 {width: 32px;height: 32px;background-position: -803px -467px;}
.min-307 {width: 32px;height: 32px;background-position: -845px -467px;}
.min-308 {width: 32px;height: 32px;background-position: -887px -467px;}
.min-309 {width: 32px;height: 32px;background-position: -929px -467px;}
.min-310 {width: 32px;height: 32px;background-position: -971px -467px;}
.min-311 {width: 32px;height: 32px;background-position: -1013px -467px;}
.min-312 {width: 32px;height: 32px;background-position: -1055px -467px;}
.min-313 {width: 32px;height: 32px;background-position: -5px -509px;}
.min-314 {width: 32px;height: 32px;background-position: -47px -509px;}
.min-315 {width: 32px;height: 32px;background-position: -89px -509px;}
.min-316 {width: 32px;height: 32px;background-position: -131px -509px;}
.min-317 {width: 32px;height: 32px;background-position: -173px -509px;}
.min-318 {width: 32px;height: 32px;background-position: -215px -509px;}
.min-319 {width: 32px;height: 32px;background-position: -257px -509px;}
.min-320 {width: 32px;height: 32px;background-position: -299px -509px;}
.min-321 {width: 32px;height: 32px;background-position: -341px -509px;}
.min-322 {width: 32px;height: 32px;background-position: -383px -509px;}
.min-323 {width: 32px;height: 32px;background-position: -425px -509px;}
.min-324 {width: 32px;height: 32px;background-position: -467px -509px;}
.min-325 {width: 32px;height: 32px;background-position: -509px -509px;}
.min-326 {width: 32px;height: 32px;background-position: -551px -509px;}
.min-327 {width: 32px;height: 32px;background-position: -593px -509px;}
.min-328 {width: 32px;height: 32px;background-position: -635px -509px;}
.min-329 {width: 32px;height: 32px;background-position: -677px -509px;}
.min-330 {width: 32px;height: 32px;background-position: -719px -509px;}
.min-331 {width: 32px;height: 32px;background-position: -761px -509px;}
.min-332 {width: 32px;height: 32px;background-position: -803px -509px;}
.min-333 {width: 32px;height: 32px;background-position: -845px -509px;}
.min-334 {width: 32px;height: 32px;background-position: -887px -509px;}
.min-335 {width: 32px;height: 32px;background-position: -929px -509px;}
.min-336 {width: 32px;height: 32px;background-position: -971px -509px;}
.min-337 {width: 32px;height: 32px;background-position: -1013px -509px;}
.min-338 {width: 32px;height: 32px;background-position: -1055px -509px;}
.min-339 {width: 32px;height: 32px;background-position: -5px -551px;}
.min-340 {width: 32px;height: 32px;background-position: -47px -551px;}
.min-341 {width: 32px;height: 32px;background-position: -89px -551px;}
.min-342 {width: 32px;height: 32px;background-position: -131px -551px;}
.min-343 {width: 32px;height: 32px;background-position: -173px -551px;}
.min-344 {width: 32px;height: 32px;background-position: -215px -551px;}
.min-345 {width: 32px;height: 32px;background-position: -257px -551px;}
.min-346 {width: 32px;height: 32px;background-position: -299px -551px;}
.min-347 {width: 32px;height: 32px;background-position: -341px -551px;}
.min-348 {width: 32px;height: 32px;background-position: -383px -551px;}
.min-349 {width: 32px;height: 32px;background-position: -425px -551px;}
.min-350 {width: 32px;height: 32px;background-position: -467px -551px;}
.min-351 {width: 32px;height: 32px;background-position: -509px -551px;}
.min-352 {width: 32px;height: 32px;background-position: -551px -551px;}
.min-353 {width: 32px;height: 32px;background-position: -593px -551px;}
.min-354 {width: 32px;height: 32px;background-position: -635px -551px;}
.min-355 {width: 32px;height: 32px;background-position: -677px -551px;}
.min-356 {width: 32px;height: 32px;background-position: -719px -551px;}
.min-357 {width: 32px;height: 32px;background-position: -761px -551px;}
.min-358 {width: 32px;height: 32px;background-position: -803px -551px;}
.min-359 {width: 32px;height: 32px;background-position: -845px -551px;}
.min-360 {width: 32px;height: 32px;background-position: -887px -551px;}
.min-361 {width: 32px;height: 32px;background-position: -929px -551px;}
.min-362 {width: 32px;height: 32px;background-position: -971px -551px;}
.min-363 {width: 32px;height: 32px;background-position: -1013px -551px;}
.min-364 {width: 32px;height: 32px;background-position: -1055px -551px;}
.min-365 {width: 32px;height: 32px;background-position: -5px -593px;}
.min-366 {width: 32px;height: 32px;background-position: -47px -593px;}
.min-367 {width: 32px;height: 32px;background-position: -89px -593px;}
.min-368 {width: 32px;height: 32px;background-position: -131px -593px;}
.min-369 {width: 32px;height: 32px;background-position: -173px -593px;}
.min-370 {width: 32px;height: 32px;background-position: -215px -593px;}
.min-371 {width: 32px;height: 32px;background-position: -257px -593px;}
.min-372 {width: 32px;height: 32px;background-position: -299px -593px;}
.min-373 {width: 32px;height: 32px;background-position: -341px -593px;}
.min-374 {width: 32px;height: 32px;background-position: -383px -593px;}
.min-375 {width: 32px;height: 32px;background-position: -425px -593px;}
.min-376 {width: 32px;height: 32px;background-position: -467px -593px;}
.min-377 {width: 32px;height: 32px;background-position: -509px -593px;}
.min-378 {width: 32px;height: 32px;background-position: -551px -593px;}
.min-379 {width: 32px;height: 32px;background-position: -593px -593px;}
.min-380 {width: 32px;height: 32px;background-position: -635px -593px;}
.min-381 {width: 32px;height: 32px;background-position: -677px -593px;}
.min-382 {width: 33px;height: 32px;background-position: -719px -593px;}
.min-383 {width: 33px;height: 32px;background-position: -762px -593px;}
.min-384 {width: 32px;height: 32px;background-position: -805px -593px;}
.min-385 {width: 32px;height: 32px;background-position: -847px -593px;}
.min-386 {width: 32px;height: 32px;background-position: -889px -593px;}
.min-387 {width: 32px;height: 32px;background-position: -931px -593px;}
.min-388 {width: 32px;height: 32px;background-position: -973px -593px;}
.min-389 {width: 32px;height: 32px;background-position: -1015px -593px;}
.min-390 {width: 32px;height: 32px;background-position: -1057px -593px;}
.min-391 {width: 32px;height: 32px;background-position: -5px -635px;}
.min-392 {width: 32px;height: 32px;background-position: -47px -635px;}
.min-393 {width: 32px;height: 32px;background-position: -89px -635px;}
.min-394 {width: 32px;height: 32px;background-position: -131px -635px;}
.min-395 {width: 32px;height: 32px;background-position: -173px -635px;}
.min-396 {width: 32px;height: 32px;background-position: -215px -635px;}
.min-397 {width: 32px;height: 32px;background-position: -257px -635px;}
.min-398 {width: 32px;height: 32px;background-position: -299px -635px;}
.min-399 {width: 32px;height: 32px;background-position: -341px -635px;}
.min-400 {width: 32px;height: 32px;background-position: -383px -635px;}
.min-401 {width: 32px;height: 32px;background-position: -425px -635px;}
.min-402 {width: 32px;height: 32px;background-position: -467px -635px;}
.min-403 {width: 32px;height: 32px;background-position: -509px -635px;}
.min-404 {width: 32px;height: 32px;background-position: -551px -635px;}
.min-405 {width: 32px;height: 32px;background-position: -593px -635px;}
.min-406 {width: 32px;height: 32px;background-position: -635px -635px;}
.min-407 {width: 32px;height: 32px;background-position: -677px -635px;}
.min-408 {width: 32px;height: 32px;background-position: -719px -635px;}
.min-409 {width: 32px;height: 32px;background-position: -761px -635px;}
.min-410 {width: 32px;height: 32px;background-position: -803px -635px;}
.min-411 {width: 32px;height: 32px;background-position: -845px -635px;}
.min-412 {width: 32px;height: 32px;background-position: -887px -635px;}
.min-413 {width: 32px;height: 32px;background-position: -929px -635px;}
.min-414 {width: 32px;height: 32px;background-position: -971px -635px;}
.min-415 {width: 32px;height: 32px;background-position: -1013px -635px;}
.min-416 {width: 32px;height: 32px;background-position: -1055px -635px;}
.min-417 {width: 32px;height: 32px;background-position: -5px -677px;}
.min-418 {width: 32px;height: 32px;background-position: -47px -677px;}
.min-419 {width: 32px;height: 32px;background-position: -89px -677px;}
.min-420 {width: 32px;height: 32px;background-position: -131px -677px;}
.min-421 {width: 32px;height: 32px;background-position: -173px -677px;}
.min-422 {width: 32px;height: 32px;background-position: -215px -677px;}
.min-423 {width: 32px;height: 32px;background-position: -257px -677px;}
.min-424 {width: 32px;height: 32px;background-position: -299px -677px;}
.min-425 {width: 32px;height: 32px;background-position: -341px -677px;}
.min-426 {width: 32px;height: 32px;background-position: -383px -677px;}
.min-427 {width: 32px;height: 32px;background-position: -425px -677px;}
.min-428 {width: 32px;height: 32px;background-position: -467px -677px;}
.min-429 {width: 32px;height: 32px;background-position: -509px -677px;}
.min-430 {width: 32px;height: 32px;background-position: -551px -677px;}
.min-431 {width: 32px;height: 32px;background-position: -593px -677px;}
.min-432 {width: 32px;height: 32px;background-position: -635px -677px;}
.min-433 {width: 32px;height: 32px;background-position: -677px -677px;}
.min-434 {width: 32px;height: 32px;background-position: -719px -677px;}
.min-435 {width: 32px;height: 32px;background-position: -761px -677px;}
.min-436 {width: 32px;height: 32px;background-position: -803px -677px;}
.min-437 {width: 32px;height: 32px;background-position: -845px -677px;}
.min-438 {width: 32px;height: 32px;background-position: -887px -677px;}
.min-439 {width: 32px;height: 32px;background-position: -929px -677px;}
.min-440 {width: 32px;height: 32px;background-position: -971px -677px;}
.min-441 {width: 32px;height: 32px;background-position: -1013px -677px;}
.min-442 {width: 32px;height: 32px;background-position: -1055px -677px;}
.min-443 {width: 32px;height: 32px;background-position: -5px -719px;}
.min-444 {width: 32px;height: 32px;background-position: -47px -719px;}
.min-445 {width: 32px;height: 32px;background-position: -89px -719px;}
.min-446 {width: 32px;height: 32px;background-position: -131px -719px;}
.min-447 {width: 32px;height: 32px;background-position: -173px -719px;}
.min-448 {width: 32px;height: 32px;background-position: -215px -719px;}
.min-449 {width: 32px;height: 32px;background-position: -257px -719px;}
.min-450 {width: 32px;height: 32px;background-position: -299px -719px;}
.min-451 {width: 32px;height: 32px;background-position: -341px -719px;}
.min-452 {width: 32px;height: 32px;background-position: -383px -719px;}
.min-453 {width: 32px;height: 32px;background-position: -425px -719px;}
.min-454 {width: 32px;height: 32px;background-position: -467px -719px;}
.min-455 {width: 32px;height: 32px;background-position: -509px -719px;}
.min-456 {width: 32px;height: 32px;background-position: -551px -719px;}
.min-457 {width: 32px;height: 32px;background-position: -593px -719px;}
.min-458 {width: 32px;height: 32px;background-position: -635px -719px;}
.min-459 {width: 32px;height: 32px;background-position: -677px -719px;}
.min-460 {width: 32px;height: 32px;background-position: -719px -719px;}
.min-461 {width: 32px;height: 32px;background-position: -761px -719px;}
.min-462 {width: 32px;height: 32px;background-position: -803px -719px;}
.min-463 {width: 32px;height: 32px;background-position: -845px -719px;}
.min-464 {width: 32px;height: 32px;background-position: -887px -719px;}
.min-465 {width: 32px;height: 32px;background-position: -929px -719px;}
.min-466 {width: 32px;height: 32px;background-position: -971px -719px;}
.min-467 {width: 32px;height: 32px;background-position: -1013px -719px;}
.min-468 {width: 32px;height: 32px;background-position: -1055px -719px;}
.min-469 {width: 32px;height: 32px;background-position: -5px -761px;}
.min-470 {width: 32px;height: 32px;background-position: -47px -761px;}
.min-471 {width: 32px;height: 32px;background-position: -89px -761px;}
.min-472 {width: 32px;height: 32px;background-position: -131px -761px;}
.min-473 {width: 32px;height: 32px;background-position: -173px -761px;}
.min-474 {width: 32px;height: 32px;background-position: -215px -761px;}
.min-475 {width: 32px;height: 32px;background-position: -257px -761px;}
.min-476 {width: 32px;height: 32px;background-position: -299px -761px;}
.min-477 {width: 32px;height: 32px;background-position: -341px -761px;}
.min-478 {width: 32px;height: 32px;background-position: -383px -761px;}
.min-479 {width: 32px;height: 32px;background-position: -425px -761px;}
.min-480 {width: 32px;height: 32px;background-position: -467px -761px;}
.min-481 {width: 32px;height: 32px;background-position: -509px -761px;}
.min-482 {width: 32px;height: 32px;background-position: -551px -761px;}
.min-483 {width: 32px;height: 32px;background-position: -593px -761px;}
.min-484 {width: 32px;height: 32px;background-position: -635px -761px;}
.min-485 {width: 34px;height: 32px;background-position: -677px -761px;}
.min-486 {width: 32px;height: 32px;background-position: -721px -761px;}
.min-487 {width: 32px;height: 32px;background-position: -763px -761px;}
.min-488 {width: 32px;height: 32px;background-position: -805px -761px;}
.min-489 {width: 32px;height: 32px;background-position: -847px -761px;}
.min-490 {width: 32px;height: 32px;background-position: -889px -761px;}
.min-491 {width: 32px;height: 32px;background-position: -931px -761px;}
.min-492 {width: 32px;height: 32px;background-position: -973px -761px;}
.min-493 {width: 32px;height: 32px;background-position: -1015px -761px;}
.min-494 {width: 32px;height: 32px;background-position: -1057px -761px;}
.min-495 {width: 32px;height: 32px;background-position: -5px -803px;}
.min-496 {width: 32px;height: 32px;background-position: -47px -803px;}
.min-497 {width: 32px;height: 32px;background-position: -89px -803px;}
.min-498 {width: 32px;height: 32px;background-position: -131px -803px;}
.min-499 {width: 32px;height: 32px;background-position: -173px -803px;}
.min-500 {width: 32px;height: 32px;background-position: -215px -803px;}
.min-501 {width: 32px;height: 32px;background-position: -257px -803px;}
.min-502 {width: 32px;height: 32px;background-position: -299px -803px;}
.min-503 {width: 32px;height: 32px;background-position: -341px -803px;}
.min-504 {width: 32px;height: 32px;background-position: -383px -803px;}
.min-505 {width: 32px;height: 32px;background-position: -425px -803px;}
.min-506 {width: 32px;height: 32px;background-position: -467px -803px;}
.min-507 {width: 32px;height: 32px;background-position: -509px -803px;}
.min-508 {width: 32px;height: 32px;background-position: -551px -803px;}
.min-509 {width: 32px;height: 32px;background-position: -593px -803px;}
.min-510 {width: 32px;height: 32px;background-position: -635px -803px;}
.min-511 {width: 32px;height: 32px;background-position: -677px -803px;}
.min-512 {width: 32px;height: 32px;background-position: -719px -803px;}
.min-513 {width: 32px;height: 32px;background-position: -761px -803px;}
.min-514 {width: 32px;height: 32px;background-position: -803px -803px;}
.min-515 {width: 32px;height: 32px;background-position: -845px -803px;}
.min-516 {width: 32px;height: 32px;background-position: -887px -803px;}
.min-517 {width: 32px;height: 32px;background-position: -929px -803px;}
.min-518 {width: 32px;height: 32px;background-position: -971px -803px;}
.min-519 {width: 32px;height: 32px;background-position: -1013px -803px;}
.min-520 {width: 32px;height: 32px;background-position: -1055px -803px;}
.min-521 {width: 32px;height: 32px;background-position: -5px -845px;}
.min-522 {width: 32px;height: 32px;background-position: -47px -845px;}
.min-523 {width: 32px;height: 32px;background-position: -89px -845px;}
.min-524 {width: 32px;height: 32px;background-position: -131px -845px;}
.min-525 {width: 32px;height: 32px;background-position: -173px -845px;}
.min-526 {width: 32px;height: 32px;background-position: -215px -845px;}
.min-527 {width: 32px;height: 32px;background-position: -257px -845px;}
.min-528 {width: 32px;height: 32px;background-position: -299px -845px;}
.min-529 {width: 32px;height: 32px;background-position: -341px -845px;}
.min-530 {width: 32px;height: 32px;background-position: -383px -845px;}
.min-531 {width: 32px;height: 32px;background-position: -425px -845px;}
.min-532 {width: 32px;height: 32px;background-position: -467px -845px;}
.min-533 {width: 32px;height: 32px;background-position: -509px -845px;}
.min-534 {width: 32px;height: 32px;background-position: -551px -845px;}
.min-535 {width: 32px;height: 32px;background-position: -593px -845px;}
.min-536 {width: 32px;height: 32px;background-position: -635px -845px;}
.min-537 {width: 32px;height: 32px;background-position: -677px -845px;}
.min-538 {width: 32px;height: 32px;background-position: -719px -845px;}
.min-539 {width: 32px;height: 32px;background-position: -761px -845px;}
.min-540 {width: 32px;height: 32px;background-position: -803px -845px;}
.min-541 {width: 32px;height: 32px;background-position: -845px -845px;}
.min-542 {width: 32px;height: 32px;background-position: -887px -845px;}
.min-543 {width: 32px;height: 32px;background-position: -929px -845px;}
.min-544 {width: 32px;height: 32px;background-position: -971px -845px;}
.min-545 {width: 32px;height: 32px;background-position: -1013px -845px;}
.min-546 {width: 32px;height: 32px;background-position: -1055px -845px;}
.min-547 {width: 32px;height: 32px;background-position: -5px -887px;}
.min-548 {width: 32px;height: 32px;background-position: -47px -887px;}
.min-549 {width: 32px;height: 32px;background-position: -89px -887px;}
.min-550 {width: 32px;height: 32px;background-position: -131px -887px;}
.min-551 {width: 32px;height: 32px;background-position: -173px -887px;}
.min-552 {width: 32px;height: 32px;background-position: -215px -887px;}
.min-553 {width: 32px;height: 32px;background-position: -257px -887px;}
.min-554 {width: 32px;height: 32px;background-position: -299px -887px;}
.min-555 {width: 32px;height: 32px;background-position: -341px -887px;}
.min-556 {width: 32px;height: 32px;background-position: -383px -887px;}
.min-557 {width: 32px;height: 32px;background-position: -425px -887px;}
.min-558 {width: 32px;height: 32px;background-position: -467px -887px;}
.min-559 {width: 32px;height: 32px;background-position: -509px -887px;}
.min-560 {width: 32px;height: 32px;background-position: -551px -887px;}
.min-561 {width: 32px;height: 32px;background-position: -593px -887px;}
.min-562 {width: 32px;height: 32px;background-position: -635px -887px;}
.min-563 {width: 32px;height: 32px;background-position: -677px -887px;}
.min-564 {width: 32px;height: 32px;background-position: -719px -887px;}
.min-565 {width: 32px;height: 32px;background-position: -761px -887px;}
.min-566 {width: 32px;height: 32px;background-position: -803px -887px;}
.min-567 {width: 32px;height: 32px;background-position: -845px -887px;}
.min-568 {width: 32px;height: 32px;background-position: -887px -887px;}
.min-569 {width: 32px;height: 32px;background-position: -929px -887px;}
.min-570 {width: 32px;height: 32px;background-position: -971px -887px;}
.min-571 {width: 32px;height: 32px;background-position: -1013px -887px;}
.min-572 {width: 32px;height: 32px;background-position: -1055px -887px;}
.min-573 {width: 32px;height: 32px;background-position: -5px -929px;}
.min-574 {width: 32px;height: 32px;background-position: -47px -929px;}
.min-575 {width: 32px;height: 32px;background-position: -89px -929px;}
.min-576 {width: 32px;height: 32px;background-position: -131px -929px;}
.min-577 {width: 32px;height: 32px;background-position: -173px -929px;}
.min-578 {width: 32px;height: 32px;background-position: -215px -929px;}
.min-579 {width: 32px;height: 32px;background-position: -257px -929px;}
.min-580 {width: 32px;height: 32px;background-position: -299px -929px;}
.min-581 {width: 32px;height: 32px;background-position: -341px -929px;}
.min-582 {width: 32px;height: 32px;background-position: -383px -929px;}
.min-583 {width: 32px;height: 32px;background-position: -425px -929px;}
.min-584 {width: 32px;height: 32px;background-position: -467px -929px;}
.min-585 {width: 32px;height: 32px;background-position: -509px -929px;}
.min-586 {width: 32px;height: 32px;background-position: -551px -929px;}
.min-587 {width: 32px;height: 32px;background-position: -593px -929px;}
.min-588 {width: 32px;height: 32px;background-position: -635px -929px;}
.min-589 {width: 32px;height: 32px;background-position: -677px -929px;}
.min-590 {width: 32px;height: 32px;background-position: -719px -929px;}
.min-591 {width: 32px;height: 32px;background-position: -761px -929px;}
.min-592 {width: 32px;height: 32px;background-position: -803px -929px;}
.min-593 {width: 32px;height: 32px;background-position: -845px -929px;}
.min-594 {width: 32px;height: 32px;background-position: -887px -929px;}
.min-595 {width: 32px;height: 32px;background-position: -929px -929px;}
.min-596 {width: 32px;height: 32px;background-position: -971px -929px;}
.min-597 {width: 32px;height: 32px;background-position: -1013px -929px;}
.min-598 {width: 32px;height: 32px;background-position: -1055px -929px;}
.min-599 {width: 32px;height: 32px;background-position: -5px -971px;}
.min-600 {width: 32px;height: 32px;background-position: -47px -971px;}
.min-601 {width: 32px;height: 32px;background-position: -89px -971px;}
.min-602 {width: 32px;height: 32px;background-position: -131px -971px;}
.min-603 {width: 32px;height: 32px;background-position: -173px -971px;}
.min-604 {width: 32px;height: 32px;background-position: -215px -971px;}
.min-605 {width: 32px;height: 32px;background-position: -257px -971px;}
.min-606 {width: 32px;height: 32px;background-position: -299px -971px;}
.min-607 {width: 32px;height: 32px;background-position: -341px -971px;}
.min-608 {width: 32px;height: 32px;background-position: -383px -971px;}
.min-609 {width: 32px;height: 32px;background-position: -425px -971px;}
.min-610 {width: 32px;height: 32px;background-position: -467px -971px;}
.min-611 {width: 32px;height: 32px;background-position: -509px -971px;}
.min-612 {width: 32px;height: 32px;background-position: -551px -971px;}
.min-613 {width: 32px;height: 32px;background-position: -593px -971px;}
.min-614 {width: 32px;height: 32px;background-position: -635px -971px;}
.min-615 {width: 32px;height: 32px;background-position: -677px -971px;}
.min-616 {width: 32px;height: 32px;background-position: -719px -971px;}
.min-617 {width: 32px;height: 32px;background-position: -761px -971px;}
.min-618 {width: 32px;height: 32px;background-position: -803px -971px;}
.min-619 {width: 32px;height: 32px;background-position: -845px -971px;}
.min-620 {width: 32px;height: 32px;background-position: -887px -971px;}
.min-621 {width: 32px;height: 32px;background-position: -929px -971px;}
.min-622 {width: 32px;height: 32px;background-position: -971px -971px;}
.min-623 {width: 32px;height: 32px;background-position: -1013px -971px;}
.min-624 {width: 32px;height: 32px;background-position: -1055px -971px;}
.min-625 {width: 32px;height: 32px;background-position: -5px -1013px;}
.min-626 {width: 32px;height: 32px;background-position: -47px -1013px;}
.min-627 {width: 32px;height: 32px;background-position: -89px -1013px;}
.min-628 {width: 32px;height: 32px;background-position: -131px -1013px;}
.min-629 {width: 32px;height: 32px;background-position: -173px -1013px;}
.min-630 {width: 32px;height: 32px;background-position: -215px -1013px;}
.min-631 {width: 32px;height: 32px;background-position: -257px -1013px;}
.min-632 {width: 32px;height: 32px;background-position: -299px -1013px;}
.min-633 {width: 32px;height: 32px;background-position: -341px -1013px;}
.min-634 {width: 32px;height: 32px;background-position: -383px -1013px;}
.min-635 {width: 32px;height: 32px;background-position: -425px -1013px;}
.min-636 {width: 32px;height: 32px;background-position: -467px -1013px;}
.min-637 {width: 32px;height: 32px;background-position: -509px -1013px;}
.min-638 {width: 32px;height: 32px;background-position: -551px -1013px;}
.min-639 {width: 32px;height: 32px;background-position: -593px -1013px;}
.min-640 {width: 32px;height: 32px;background-position: -635px -1013px;}
.min-641 {width: 32px;height: 32px;background-position: -677px -1013px;}
.min-642 {width: 32px;height: 32px;background-position: -719px -1013px;}
.min-643 {width: 32px;height: 32px;background-position: -761px -1013px;}
.min-644 {width: 32px;height: 32px;background-position: -803px -1013px;}
.min-645 {width: 32px;height: 32px;background-position: -845px -1013px;}
.min-646 {width: 32px;height: 32px;background-position: -887px -1013px;}
.min-647 {width: 32px;height: 32px;background-position: -929px -1013px;}
.min-648 {width: 32px;height: 32px;background-position: -971px -1013px;}
.min-649 {width: 32px;height: 32px;background-position: -1013px -1013px;}
.min-650 {width: 32px;height: 32px;background-position: -1055px -1013px;}
.min-651 {width: 32px;height: 32px;background-position: -5px -1055px;}
.min-652 {width: 32px;height: 32px;background-position: -47px -1055px;}
.min-653 {width: 32px;height: 32px;background-position: -89px -1055px;}
.min-654 {width: 32px;height: 32px;background-position: -131px -1055px;}
.min-655 {width: 32px;height: 32px;background-position: -173px -1055px;}
.min-656 {width: 32px;height: 32px;background-position: -215px -1055px;}
.min-657 {width: 32px;height: 32px;background-position: -257px -1055px;}
.min-658 {width: 32px;height: 32px;background-position: -299px -1055px;}
.min-659 {width: 32px;height: 32px;background-position: -341px -1055px;}
.min-660 {width: 32px;height: 32px;background-position: -383px -1055px;}
.min-661 {width: 32px;height: 32px;background-position: -425px -1055px;}
.min-662 {width: 32px;height: 32px;background-position: -467px -1055px;}
.min-663 {width: 32px;height: 32px;background-position: -509px -1055px;}
.min-664 {width: 32px;height: 32px;background-position: -551px -1055px;}
.min-665 {width: 32px;height: 32px;background-position: -593px -1055px;}
.min-666 {width: 32px;height: 32px;background-position: -635px -1055px;}
.min-667 {width: 32px;height: 32px;background-position: -677px -1055px;}
.min-668 {width: 32px;height: 32px;background-position: -719px -1055px;}
.min-669 {width: 32px;height: 32px;background-position: -761px -1055px;}
.min-670 {width: 32px;height: 32px;background-position: -803px -1055px;}
.min-671 {width: 32px;height: 32px;background-position: -845px -1055px;}
.min-672 {width: 32px;height: 32px;background-position: -887px -1055px;}
.min-673 {width: 32px;height: 32px;background-position: -929px -1055px;}
.min-674 {width: 32px;height: 32px;background-position: -971px -1055px;}
.min-675 {width: 32px;height: 32px;background-position: -1013px -1055px;}
.min-676 {width: 32px;height: 32px;background-position: -1055px -1055px;}
.min-677 {width: 32px;height: 32px;background-position: -1097px -5px;}
.min-678 {width: 32px;height: 32px;background-position: -1097px -47px;}
.min-679 {width: 32px;height: 32px;background-position: -1097px -89px;}
.min-680 {width: 32px;height: 32px;background-position: -1097px -131px;}
.min-681 {width: 32px;height: 32px;background-position: -1097px -173px;}
.min-682 {width: 32px;height: 32px;background-position: -1097px -215px;}
.min-683 {width: 32px;height: 32px;background-position: -1097px -257px;}
.min-684 {width: 32px;height: 32px;background-position: -1101px -299px;}
.min-685 {width: 32px;height: 32px;background-position: -1097px -341px;}
.min-686 {width: 32px;height: 32px;background-position: -1098px -383px;}
.min-687 {width: 32px;height: 32px;background-position: -1097px -425px;}
.min-688 {width: 32px;height: 32px;background-position: -1097px -467px;}
.min-689 {width: 32px;height: 32px;background-position: -1097px -509px;}
.min-690 {width: 32px;height: 32px;background-position: -1097px -551px;}
.min-691 {width: 32px;height: 32px;background-position: -1099px -593px;}
.min-692 {width: 32px;height: 32px;background-position: -1097px -635px;}
.min-693 {width: 32px;height: 32px;background-position: -1097px -677px;}
.min-694 {width: 32px;height: 32px;background-position: -1097px -719px;}
.min-695 {width: 32px;height: 32px;background-position: -1099px -761px;}
.min-696 {width: 32px;height: 32px;background-position: -1097px -803px;}
.min-697 {width: 32px;height: 32px;background-position: -1097px -845px;}
.min-698 {width: 32px;height: 32px;background-position: -1097px -887px;}
.min-699 {width: 32px;height: 32px;background-position: -1097px -929px;}
.min-700 {width: 32px;height: 32px;background-position: -1097px -971px;}
.min-701 {width: 32px;height: 32px;background-position: -1097px -1013px;}
.min-702 {width: 32px;height: 32px;background-position: -1097px -1055px;}
.min-703 {width: 32px;height: 32px;background-position: -5px -1097px;}
.min-704 {width: 32px;height: 32px;background-position: -47px -1097px;}
.min-705 {width: 32px;height: 32px;background-position: -89px -1097px;}
.min-706 {width: 32px;height: 32px;background-position: -131px -1097px;}
.min-707 {width: 32px;height: 32px;background-position: -173px -1097px;}
.min-708 {width: 32px;height: 32px;background-position: -215px -1097px;}
.min-709 {width: 32px;height: 32px;background-position: -257px -1097px;}
.min-710 {width: 32px;height: 32px;background-position: -299px -1097px;}
.min-711 {width: 32px;height: 32px;background-position: -341px -1097px;}
.min-712 {width: 32px;height: 32px;background-position: -383px -1097px;}
.min-713 {width: 32px;height: 32px;background-position: -425px -1097px;}
.min-714 {width: 32px;height: 32px;background-position: -467px -1097px;}
.min-715 {width: 32px;height: 32px;background-position: -509px -1097px;}
.min-716 {width: 32px;height: 32px;background-position: -551px -1097px;}
.min-717 {width: 32px;height: 32px;background-position: -593px -1097px;}
.min-718 {width: 32px;height: 32px;background-position: -635px -1097px;}
.min-719 {width: 32px;height: 32px;background-position: -677px -1097px;}
.min-720 {width: 32px;height: 32px;background-position: -719px -1097px;}
.min-721 {width: 32px;height: 32px;background-position: -761px -1097px;}
.spriteM {background-image: url('Images/spritesmega.png');background-repeat: no-repeat;display: block;}
.min-003m {width: 32px;height: 32px;background-position: 0 0;}
.min-006xm {width: 40px;height: 32px;background-position: -32px 0;}
.min-006ym {width: 38px;height: 32px;background-position: -72px 0;}
.min-009m {width: 32px;height: 32px;background-position: -110px 0;}
.min-015m {width: 32px;height: 32px;background-position: -142px 0;}
.min-018m {width: 35px;height: 32px;background-position: -174px 0;}
.min-025b {width: 32px;height: 32px;background-position: -209px 0;}
.min-025d {width: 32px;height: 32px;background-position: -241px 0;}
.min-025l {width: 32px;height: 32px;background-position: 0 -32px;}
.min-025p {width: 32px;height: 32px;background-position: -32px -32px;}
.min-025r {width: 32px;height: 32px;background-position: -64px -32px;}
.min-065m {width: 32px;height: 32px;background-position: -96px -32px;}
.min-080m {width: 32px;height: 32px;background-position: -128px -32px;}
.min-094m {width: 34px;height: 32px;background-position: -160px -32px;}
.min-115m {width: 32px;height: 32px;background-position: -194px -32px;}
.min-127m {width: 32px;height: 32px;background-position: -226px -32px;}
.min-130m {width: 32px;height: 32px;background-position: -258px -32px;}
.min-130s {width: 40px;height: 40px;background-position: 0 -64px;}
.min-142m {width: 32px;height: 32px;background-position: -40px -64px;}
.min-150xm {width: 32px;height: 32px;background-position: -72px -64px;}
.min-150ym {width: 32px;height: 32px;background-position: -104px -64px;}
.min-181m {width: 32px;height: 32px;background-position: -136px -64px;}
.min-208m {width: 39px;height: 32px;background-position: -168px -64px;}
.min-212m {width: 32px;height: 32px;background-position: -207px -64px;}
.min-214m {width: 34px;height: 32px;background-position: -239px -64px;}
.min-229m {width: 32px;height: 32px;background-position: -40px -96px;}
.min-248m {width: 32px;height: 32px;background-position: -72px -96px;}
.min-254m {width: 37px;height: 32px;background-position: -104px -96px;}
.min-257m {width: 32px;height: 32px;background-position: -141px -96px;}
.min-260m {width: 32px;height: 32px;background-position: -173px -96px;}
.min-282m {width: 32px;height: 32px;background-position: -205px -96px;}
.min-302m {width: 32px;height: 32px;background-position: -237px -96px;}
.min-303m {width: 32px;height: 32px;background-position: -269px -96px;}
.min-306m {width: 32px;height: 32px;background-position: 0 -128px;}
.min-308m {width: 32px;height: 32px;background-position: -32px -128px;}
.min-310m {width: 32px;height: 32px;background-position: -64px -128px;}
.min-319m {width: 32px;height: 32px;background-position: -96px -128px;}
.min-323m {width: 32px;height: 32px;background-position: -128px -128px;}
.min-334m {width: 32px;height: 32px;background-position: -160px -128px;}
.min-354m {width: 32px;height: 32px;background-position: -192px -128px;}
.min-359m {width: 32px;height: 32px;background-position: -224px -128px;}
.min-362m {width: 32px;height: 32px;background-position: -256px -128px;}
.min-373m {width: 35px;height: 32px;background-position: 0 -160px;}
.min-376m {width: 32px;height: 32px;background-position: -35px -160px;}
.min-380m {width: 35px;height: 32px;background-position: -67px -160px;}
.min-381m {width: 35px;height: 32px;background-position: -102px -160px;}
.min-382m {width: 36px;height: 32px;background-position: -137px -160px;}
.min-383m {width: 36px;height: 32px;background-position: -173px -160px;}
.min-384m {width: 38px;height: 32px;background-position: -209px -160px;}
.min-386a {width: 32px;height: 32px;background-position: -247px -160px;}
.min-386d {width: 32px;height: 32px;background-position: 0 -192px;}
.min-386s {width: 32px;height: 32px;background-position: -32px -192px;}
.min-392f {width: 32px;height: 32px;background-position: -64px -192px;}
.min-392i {width: 32px;height: 32px;background-position: -96px -192px;}
.min-392w {width: 32px;height: 32px;background-position: -128px -192px;}
.min-422e {width: 32px;height: 32px;background-position: -160px -192px;}
.min-423e {width: 32px;height: 32px;background-position: -192px -192px;}
.min-428m {width: 33px;height: 32px;background-position: -224px -192px;}
.min-445m {width: 32px;height: 32px;background-position: -257px -192px;}
.min-448m {width: 32px;height: 32px;background-position: 0 -224px;}
.min-460m {width: 32px;height: 32px;background-position: -32px -224px;}
.min-475m {width: 32px;height: 32px;background-position: -64px -224px;}
.min-479e {width: 32px;height: 32px;background-position: -96px -224px;}
.min-479f {width: 32px;height: 32px;background-position: -128px -224px;}
.min-479g {width: 32px;height: 32px;background-position: -160px -224px;}
.min-479i {width: 32px;height: 32px;background-position: -192px -224px;}
.min-479w {width: 32px;height: 32px;background-position: -224px -224px;}
.min-483p {width: 40px;height: 40px;background-position: -256px -224px;}
.min-487o {width: 32px;height: 32px;background-position: 0 -264px;}
.min-492s {width: 32px;height: 32px;background-position: -32px -264px;}
.min-531m {width: 32px;height: 32px;background-position: -64px -264px;}
.min-592f {width: 32px;height: 32px;background-position: -96px -264px;}
.min-593f {width: 32px;height: 32px;background-position: -128px -264px;}
.min-641t {width: 32px;height: 32px;background-position: -160px -264px;}
.min-642t {width: 32px;height: 32px;background-position: -192px -264px;}
.min-645t {width: 32px;height: 32px;background-position: -224px -264px;}
.min-646b {width: 33px;height: 32px;background-position: -256px -264px;}
.min-646w {width: 37px;height: 32px;background-position: -273px 0;}
.min-647r {width: 32px;height: 32px;background-position: -290px -32px;}
.min-648p {width: 32px;height: 32px;background-position: -273px -64px;}
.min-666a {width: 32px;height: 32px;background-position: -305px -64px;}
.min-666p {width: 32px;height: 32px;background-position: -301px -96px;}
.min-668f {width: 32px;height: 32px;background-position: -288px -128px;}
.min-678f {width: 32px;height: 32px;background-position: -279px -160px;}
.min-681a {width: 35px;height: 32px;background-position: -289px -192px;}
.min-719m {width: 32px;height: 32px;background-position: -296px -224px;}